@model FranciscoDavidSantosSousa.Models.Pagamento

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Pagamento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdPagamento" />
            <div class="form-group">
                <label asp-for="dataLimite" class="control-label"></label>
                <input asp-for="dataLimite" class="form-control" />
                <span asp-validation-for="dataLimite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="valor" class="control-label"></label>
                <input asp-for="valor" class="form-control" />
                <span asp-validation-for="valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pago" class="control-label"></label>
                <input asp-for="pago" class="form-control" />
                <span asp-validation-for="pago" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NotaDevendaId" class="control-label"></label>
                <select asp-for="NotaDevendaId" class="form-control" asp-items="ViewBag.NotaDevendaId"></select>
                <span asp-validation-for="NotaDevendaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
