@model FranciscoDavidSantosSousa.Models.NotaDeVenda

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>NotaDeVenda</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdNotaDeVenda" />
            <div class="form-group">
                <label asp-for="DataDaVenda" class="control-label"></label>
                <input asp-for="DataDaVenda" class="form-control" />
                <span asp-validation-for="DataDaVenda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tipo" class="control-label"></label>
                <input asp-for="tipo" class="form-control" />
                <span asp-validation-for="tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cancelado" class="control-label"></label>
                <input asp-for="cancelado" class="form-control" />
                <span asp-validation-for="cancelado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="devolvido" class="control-label"></label>
                <input asp-for="devolvido" class="form-control" />
                <span asp-validation-for="devolvido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoDePagamentoId" class="control-label"></label>
                <input asp-for="TipoDePagamentoId" class="form-control" />
                <span asp-validation-for="TipoDePagamentoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PagamentoId" class="control-label"></label>
                <select asp-for="PagamentoId" class="form-control" asp-items="ViewBag.PagamentoId"></select>
                <span asp-validation-for="PagamentoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransportadoraId" class="control-label"></label>
                <select asp-for="TransportadoraId" class="form-control" asp-items="ViewBag.TransportadoraId"></select>
                <span asp-validation-for="TransportadoraId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VendedorId" class="control-label"></label>
                <select asp-for="VendedorId" class="form-control" asp-items="ViewBag.VendedorId"></select>
                <span asp-validation-for="VendedorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClienteId" class="control-label"></label>
                <select asp-for="ClienteId" class="form-control" asp-items="ViewBag.ClienteId"></select>
                <span asp-validation-for="ClienteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemId" class="control-label"></label>
                <input asp-for="ItemId" class="form-control" />
                <span asp-validation-for="ItemId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
